.App {
  display: flex;
  /* margin: 30px; */
  margin: 10%;
  min-height: 30rem;
  padding: 5%;
}
.body1 {
  flex: 1;
  padding: 2%;
}
.body2 {
  flex: 2;
  padding: 2%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-body {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}
